* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
  cursor: none;
}

@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy.ttf);
}

html,
body {
  width: 100%;
  height: 100%;
}

.flx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crsr {
  width: 3vw;
  height: 3vw;
  border: 1px solid rgba(255, 255, 255, 0.589);
  border-radius: 50%;
  z-index: 99;
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #020202;
  padding: 15vh 10vw;
}

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5vw;
}

.line h1,
.line h2 {
  font-size: 7.5vw;
}

.line-p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.line-p1 h5,
.line-p1 h6 {
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  font-style: italic;
}

.line-p1 h5 {
  width: 5vw;
  text-align: right;
}

.main {
  position: relative;
  background-color: #020202;
}

.page1 {
  height: 100vh;
  background-color: #151515;
}

.navbar {
  padding: 3.8vw 4.8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right,
.nav-left {
  gap: 2.8vw;
}

.nav-right a {
  text-decoration: none;
  font-size: 1.1vw;
}

.hero {
  width: 72%;
  margin-left: 28%;
}

.hero:nth-child(2) {
  margin-top: 3.5vw;
}

.hero h1 {
  font-size: 7.3vw;
  line-height: 7.85vw;
}
