@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy.ttf);
}
@font-face {
  font-family: "Plain Light";
  src: url(fonts/plain-light-webfont.ttf);
}
@font-face {
  font-family: "Silk Serif";
  src: url(fonts/silkserif-lightitalic-webfont.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
  /* cursor: none; */
}

.font-silk {
  font-family: "Silk Serif"; /* Use your desired font here */
}

html,
body {
  width: 100%;
  height: 100%;
}

.mousefollower {
  border: 2px solid white;
  background-color: rgba(255, 255, 255);
  scale: 2;
  mix-blend-mode: difference;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #020202;
  padding: 15vh 10vw;
}

.line {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 2.5vw;
}

.line h1 {
  font-size: 6.5vw;
}

.line h2 {
  font-size: 5vw;
  opacity: 0;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.line-p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1vw;
}

.line-p1 h5,
.line-p1 h6 {
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  font-style: italic;
}

.line-p1 h5 {
  width: 5vw;
  text-align: right;
}

@-webkit-keyframes anime {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px white;
    color: white;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px white;
    color: white;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.1px white;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.1px white;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px white;
    color: white;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px white;
    color: white;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.1px white;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.1px white;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

.main {
  position: relative;
  background-color: #151515;
  /* background-color: #020202; */
  overflow: hidden;
}

.page1 {
  height: 100vh;
  position: relative;
  /* background-color: #151515; */
  margin-bottom: 1vh;
}

#flag-crsr {
  height: 22vw;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.navbar {
  padding: 3vw 4.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-right,
.nav-left {
  gap: 2.8vw;
}

.nav-right a {
  text-decoration: none;
  font-size: 1.1vw;
}

.hero {
  width: 72%;
  margin-left: 28%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* overflow: hidden; */
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* position: relative; */
  z-index: 999;
}

.hero:nth-child(2) {
  margin-top: 3.5vw;
}

.hero h1 {
  font-size: 7.3vw;
  line-height: 7.85vw;
  position: relative;
}

#hero1::before {
  content: "01";
  font-size: 3.5vw;
  font-weight: 500;
  font-family: "silk serif";
  position: absolute;
  left: 21%;
  top: 25%;
}

.hero h2 {
  font-size: 7.3vw;
  line-height: 7.85vw;
  border-bottom: 0.8vw solid white;
  padding-bottom: 0.5vw;
}

#hero2,
#hero3,
#hero4 {
  position: relative;
  z-index: 99;
}

#hero3 h2:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 500;
  border-bottom: transparent;
}

.page2 {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 12vh;
  margin-bottom: 35vh;
  /* overflow: hidden; */
}

.video-container {
  width: 70vw;
  height: 72vh;
  position: relative;
  left: 29%;
  background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
  background-position: center;
  background-size: cover;
}

.video-container video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0;
}

.video-crsr {
  background-color: #ffa63d;
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 80%;
  z-index: 99;
}

.video-crsr i {
  font-size: 3vw;
}

.page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 36vh;
  margin-top: 28vh;
}

.heading-p3 {
  width: 67.5vw;
  position: relative;
  left: 28%;
  right: 3.5%;
  padding-top: 2vw;
}

.heading-p3 h1 {
  font-size: 7vw;
  position: relative;
}

.heading-p3 h1::before {
  content: "02";
  font-size: 3.5vw;
  font-weight: 500;
  font-family: "silk serif";
  position: absolute;
  left: -10%;
  top: 6%;
}

.image-cont {
  padding: 1vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 2vw;
}

.img-sec {
  height: 43vw;
  width: 30vw;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.img-sec:nth-child(1) {
  height: 30vw;
  width: 24vw;
}

#i-sec3 {
  height: 40vw;
  width: 30vw;
  margin-top: 30vh;
}

#i-sec4 {
  height: 40vw;
  width: 32vw;
  margin-top: 7vh;
}

#i-sec5 {
  height: 30vw;
  width: 24vw;
  margin-top: -2vw;
}

#i-sec6 {
  height: 40vw;
  width: 32vw;
  margin-top: 20vh;
}

.img-sec img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.p3-circle1 {
  height: 24vw;
  width: 24vw;
  border: 1px solid rgba(255, 255, 255, 0.808);
  border-radius: 50%;
  margin-top: 65vh;
  margin-left: 10vw;
  position: relative;
}

.p3-circle1 svg {
  height: 35%;
}

.p3-circle2 {
  height: 24vw;
  width: 24vw;
  border: 1px solid rgba(255, 255, 255, 0.808);
  border-radius: 50%;
  position: relative;
}
.p3-circle2 svg {
  height: 35%;
  rotate: -45deg;
}

.p3-circle3 {
  height: 24vw;
  width: 24vw;
  border: 1px solid rgba(255, 255, 255, 0.808);
  border-radius: 50%;
  position: relative;
  margin-top: 58vh;
  margin-left: 10vw;
}
.p3-circle3 svg {
  height: 35%;
  rotate: -90deg;
}

.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.p3-c2-cin,
.p3-c3-cin {
  padding-left: 3.5vw;
}

.circle-in p {
  color: black;
  width: 85%;
  font-size: 1.14vw;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.circle-in p span {
  color: red;
}

.p3-circle1:hover .circle-in {
  scale: 1;
}
.p3-circle1:hover p {
  scale: 1;
}

.p3-circle2:hover .circle-in {
  scale: 1;
}
.p3-circle2:hover p {
  scale: 1;
}

.p3-circle3:hover .circle-in {
  scale: 1;
}
.p3-circle3:hover p {
  scale: 1;
}

.all-proj-circle {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5vw;
  margin-bottom: 70vh;
  margin-top: 17vh;
}

.all-proj {
  width: 24vw;
  height: 24vw;
  border-radius: 50%;
  background-color: #ffa63d;
  border-radius: 1vw solid #ffa63d;
}

.all-proj h2 {
  font-size: 1.2vw;
  font-weight: 500;
}

.page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 45vh;
  margin-top: 60vh;
  /* background-color: rgb(109, 92, 92); */
}

.p4-content {
  width: 67.5vw;
  position: relative;
  left: 28%;
  right: 3.5%;
  padding-top: 5vw;
}

.p4-content h1 {
  font-size: 7vw;
  position: relative;
}

.p4-content h1::before {
  content: "03";
  font-size: 3.5vw;
  font-weight: 500;
  font-family: "silk serif";
  position: absolute;
  left: -10%;
  top: 6%;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 4vh;
  margin-bottom: 9vh;
}

.p4-content .p-up {
  width: 55%;
  font-size: 2.4vw;
}

.p4-content-flex {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.p4-content-flex img {
  width: 33vw;
  height: 42vw;
}

.p4-content-flex .flex-para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5vh;
}

.flex-para p {
  font-size: 1.2vw;
  width: 64%;
}

.page4-overflow-box {
  background-color: #3f7df4;
  width: 43vw;
  padding: 3vw 3vw;
  position: relative;
  margin-top: -20vh;
  left: 34%;
  margin-bottom: 24vh;
}

.blue-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2vw 0;
  border-bottom: 0.05vw solid white;
}

.blue-elem p {
  width: 55%;
  font-size: 1vw;
}

.blue-elem h2 {
  font-weight: 500;
}

.p4-end {
  position: absolute;
  top: 101%;
  font-size: 1.1vw;
  color: rgba(255, 255, 255, 0.815);
}

.page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.elem1 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -1.5vw;
}

.elem1 h1 {
  font-size: 7vw;
  font-weight: 400;
  -webkit-text-stroke: 1px white;
  color: transparent;
  display: inline-block;
  margin-left: 16px;
  -webkit-animation: moving-elem 20s linear infinite;
  animation: moving-elem 20s linear infinite;
}

@-webkit-keyframes moving-elem {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes moving-elem {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}

.elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -1.5vw;
}

.elem2 h1 {
  font-size: 7vw;
  font-weight: 400;
  -webkit-text-stroke: 1px white;
  color: transparent;
  display: inline-block;
  -webkit-transform: translateX(calc(-100% - 20px));
  -ms-transform: translateX(calc(-100% - 20px));
  transform: translateX(calc(-100% - 20px));
  animation: moving-elem 25s linear infinite reverse;
}

.elem1 h1 span,
.elem2 h1 span {
  color: transparent;
  font-style: italic;
  font-family: "silk serif";
}

.page6 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 15vh;
  /* padding-bottom: 10vh; */
}

.footer {
  width: 67.5vw;
  position: relative;
  left: 28%;
  right: 3.5%;
  padding-top: 2vw;
}

.footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 3.5vw;
}

.footer-heading h1 {
  font-size: 7vw;
  position: relative;
}

.footer-heading h1::before {
  content: "04";
  font-size: 3.5vw;
  font-weight: 500;
  font-family: "silk serif";
  position: absolute;
  left: -17%;
  top: 6%;
}

.footer-heading svg {
  width: 6.5vw;
  height: 6.5vw;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4vw;
}

.box1 h4,
.box1 h2,
.box2 h4,
.box2 h2,
.box3 h4,
.box3 h2 {
  font-weight: 400;
}

.box1 h4,
.box2 h4,
.box3 h4 {
  margin-bottom: 2vw;
}

.copyright {
  position: absolute;
  margin-top: -1vw;
}

._canvas_container {
  z-index: 99999 !important;
  pointer-events: none;
}

/* 
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3 */

@media (max-width: 600px) {
  .page1 {
    height: 58vh;
    position: relative;
    margin-bottom: 1vh;
    padding-top: 1vw;
  }

  .navbar {
    padding: 4vw 4.8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    width: 100vw;
  }

  .nav-right,
  .nav-left {
    gap: 2.8vw;
  }

  .nav-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .brand__svg {
    scale: 0.8;
  }

  .nav-right {
    display: none;
  }

  .nav-right a {
    text-decoration: none;
    font-size: 1.1vw;
  }

  .hero {
    width: 72%;
    margin-left: 5%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 999;
  }

  .hero:nth-child(2) {
    margin-top: 25vh;
  }

  .hero h1 {
    font-size: 9vw;
    line-height: 10vw;
    position: relative;
    font-weight: 600;
  }

  #hero1::before {
    content: "01";
    font-size: 5vw;
    font-weight: 600;
    font-family: "silk serif";
    position: absolute;
    left: 5%;
    top: 33.5%;
  }

  .hero h2 {
    font-size: 9vw;
    line-height: 10vw;
    border-bottom: 0.8vw solid white;
    padding-bottom: 0.5vw;
    font-weight: 600;
  }

  #hero2,
  #hero3,
  #hero4 {
    position: relative;
    z-index: 99;
  }

  .page2 {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    padding-top: 1.5vh;
    margin-bottom: 12vh;
  }

  .video-container {
    width: 100vw;
    height: 50vh;
    position: relative;
    left: 0%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-position: center;
    background-size: cover;
  }

  .video-container video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
  }

  .video-crsr {
    background-color: #ffa63d;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
  }

  .video-crsr i {
    font-size: 7vw;
  }

  .page3 {
    min-height: 100vh;
    width: 94%;
    position: relative;
    margin-bottom: 36vh;
    margin-top: 0vh;
    margin: auto;
  }

  .heading-p3 {
    width: 100%;
    position: relative;
    left: 0%;
    padding: 2vw 2vw;
  }

  .heading-p3 h1 {
    font-size: 10vw;
    position: relative;
  }

  .heading-p3 h1::before {
    content: "02";
    font-size: 4.5vw;
    font-weight: 600;
    font-family: "silk serif";
    position: absolute;
    left: 0%;
    top: -60%;
  }

  .image-cont {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* flex-wrap: wrap; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 22vw;
  }

  .img-sec {
    height: 120vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .img-sec:nth-child(1) {
    height: 120vw;
    width: 100%;
  }

  #i-sec3 {
    height: 120vw;
    width: 100%;
    margin-top: 0;
  }

  #i-sec4 {
    height: 120vw;
    width: 100%;
    margin-top: 0;
  }

  #i-sec5 {
    height: 120vw;
    width: 100%;
    margin-top: 0;
  }

  #i-sec6 {
    height: 120vw;
    width: 100%;
    margin-top: 0;
  }

  .img-sec img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .p3-circle1 {
    display: none;
    height: 24vw;
    width: 24vw;
    border: 1px solid rgba(255, 255, 255, 0.808);
    border-radius: 50%;
    margin-top: 65vh;
    margin-left: 10vw;
    position: relative;
  }

  .p3-circle2 {
    display: none;
    height: 24vw;
    width: 24vw;
    border: 1px solid rgba(255, 255, 255, 0.808);
    border-radius: 50%;
    position: relative;
  }

  .p3-circle3 {
    display: none;
    height: 24vw;
    width: 24vw;
    border: 1px solid rgba(255, 255, 255, 0.808);
    border-radius: 50%;
    position: relative;
    margin-top: 58vh;
    margin-left: 10vw;
  }

  .all-proj-circle {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5vw;
    margin-bottom: 0;
    margin-top: 20vh;
  }

  .all-proj {
    width: 42vw;
    height: 42vw;
    border-radius: 50%;
    background-color: #ffa63d;
    border-radius: 1vw solid #ffa63d;
  }

  .all-proj h2 {
    font-size: 4vw;
    font-weight: 600;
  }

  .page4 {
    min-height: 100vh;
    width: 94%;
    margin: auto;
    position: relative;
    margin-bottom: 0vh;
    margin-top: 16vh;
    /* background-color: rgb(109, 92, 92); */
  }

  .p4-content {
    width: 100%;
    position: relative;
    left: 0;
    right: 3.5%;
    /* padding-top: 5vw; */
    padding: 2vw 2vw;
  }

  .p4-content h1 {
    font-size: 10vw;
    font-weight: 600;
    position: relative;
  }

  .p4-content h1::before {
    content: "03";
    font-size: 4.5vw;
    font-weight: 600;
    font-family: "silk serif";
    position: absolute;
    left: 0;
    top: -65%;
  }

  .underline {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 4vh;
    margin-bottom: 9vh;
  }

  .p4-content .p-up {
    width: 100%;
    font-size: 6vw;
    font-weight: 600;
  }

  .p4-content-flex {
    margin-top: 35vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3vw;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
  }

  .p4-content-flex img {
    width: 100%;
    height: 67vh;
  }

  .p4-content-flex .flex-para {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2vh;
    position: absolute;
    top: -45%;
  }

  .flex-para p {
    font-size: 3.6vw;
    width: 82%;
    font-weight: 500;
    line-height: 3vh;
  }

  .page4-overflow-box {
    background-color: #3f7df4;
    width: 100%;
    padding: 3vw 3vw;
    position: relative;
    margin-top: -4vh;
    left: 0;
    margin-bottom: 12vh;
    height: 72vh;
  }

  .blue-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7.2vw 4vw;
    border-bottom: 0.05vw solid white;
    font-weight: 600;
  }

  .blue-elem p {
    width: 40%;
    font-size: 3.5vw;
  }

  .blue-elem h2 {
    font-weight: 500;
    font-size: 4vw;
  }

  .p4-end {
    position: absolute;
    top: 97.5%;
    font-size: 3.5vw;
    color: rgba(255, 255, 255, 0.815);
  }

  .page5 {
    min-height: 46vh;
    width: 100%;
    position: relative;
  }

  .elem1 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -4vw;
  }

  .elem1 h1 {
    font-size: 10vw;
    font-weight: 400;
    -webkit-text-stroke: 1px white;
    color: transparent;
    display: inline-block;
    margin-left: 16px;
    -webkit-animation: moving-elem 35s linear infinite;
    animation: moving-elem 35s linear infinite;
  }

  @-webkit-keyframes moving-elem {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(calc(-100% - 20px));
      transform: translateX(calc(-100% - 20px));
    }
  }

  @keyframes moving-elem {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(calc(-100% - 20px));
      transform: translateX(calc(-100% - 20px));
    }
  }

  .elem2 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -4vw;
  }

  .elem2 h1 {
    font-size: 10vw;
    font-weight: 400;
    -webkit-text-stroke: 1px white;
    color: transparent;
    display: inline-block;
    -webkit-transform: translateX(calc(-100% - 20px));
    -ms-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
    animation: moving-elem 40s linear infinite reverse;
  }

  .elem1 h1 span,
  .elem2 h1 span {
    color: transparent;
    font-style: italic;
    font-family: "silk serif";
  }

  .page6 {
    min-height: 100vh;
    width: 94%;
    position: relative;
    margin-top: 0vh;
    margin: auto;
    margin-bottom: 3vh;
  }

  .footer {
    width: 100%;
    position: relative;
    left: 0%;
    right: 3.5%;
    padding: 2vw 2vw;
  }

  .footer-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 3.5vw;
  }

  .footer-heading h1 {
    font-size: 10vw;
    position: relative;
  }

  .footer-heading h1::before {
    content: "04";
    font-size: 4.5vw;
    font-weight: 500;
    font-family: "silk serif";
    position: absolute;
    left: 0%;
    top: -65%;
    font-weight: 600;
  }

  .footer-heading svg {
    width: 7.5vw;
    height: 7.5vw;
  }

  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4vw;
    gap: 5vh;
  }

  .box1 h4,
  .box2 h4,
  .box3 h4 {
    margin-bottom: 3vh;
    font-weight: 600;
  }

  .box1 h2,
  .box2 h2,
  .box3 h2 {
    font-size: 5.5vw;
    color: rgba(255, 255, 255, 0.822);
  }

  .copyright {
    position: absolute;
    margin-top: -8vw;
  }
}
